body{
    background-color: cornflowerblue;
}

.mainDiv{
    margin: auto;
    width: 600px;
    height: 400px;
    margin-top: 100px;
    text-align: center;
}

.leftBox{
    width: 340px;
    height: inherit;
    background-color: aliceblue;
    float:left;
}

input{
    float:right;
    height: 10px;

}

.rightBox{
    float: right;
    background-color: white;
    height: 100px;
    width: 250px;
    text-align: left;


}
.bottomBox{
    height: 290px;
    margin-top: 10px;
}

.form{
    font-size: x-small;
    text-anchor: start;
    height: 28px;
    margin: auto;
    padding: 1px;
}

select{
    font-size: smaller;
    float: right;
    width: 165px;

}

button{
    float: right;

}

p{
    margin: auto;
    text-align: center;
}